$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-breakpoint: 1200px;

@mixin tablet {
    @media (min-width: #{$tablet-breakpoint}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-breakpoint}) {
        @content;
    }
}
@mixin large {
    @media (min-width: #{$large-breakpoint}) {
        @content;
    }
}
